

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    background-color: rgb(48, 50, 51);
}
header{
    width: 100%;
    height: 100vh;
    position: relative;
}
.nav{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    font-family: 'signika',sans-serif;
}

.logo{
        font-size: 50px;
        letter-spacing: 5px;
        color: white;
    }
.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 17px;
    color: rgb(17, 158, 177);
    letter-spacing: 2px;
}
.menu a:hover{
    color:white;
}
 

.logo span{
    color:rgb(38, 153, 168);
}
.logo span:hover{
    color: rgb(86, 255, 190);
}
.h-text{
   
    position: relative;
    top: 30%;
    left: 10%;
    color:whitesmoke;
}
.h-text h1{
            font-size: 3em;
            color: whitesmoke;
            font-style: italic;
            font-family: 'signika',sans-serif;
            margin-bottom: 2%;
            
}
.h-text p{
    font-size: 17px;
    margin-bottom: 20px;
    font-style: italic;
    font-family: 'signika',sans-serif;
}
.h-text span{
    color:rgb(17, 158, 177);
}
.h-text a{
    text-decoration: none;
    background:rgb(38, 153, 168);
    color: white;
    font-size: 20px;
    padding: 5px 17px;
    font-family: 'signika',sans-serif;
    border-radius:8px;
    font-style: italic;
    
}
.h-text a:hover{
    background-color: whitesmoke;
    color:rgb(17, 158, 177);
}
.icon{
    position:fixed;
    display: flex;
    flex-direction: column ;
}
.icon i{
    color:rgb(17, 158, 177) ;
    padding:8px;
    font-size: 20px;
    margin:5px 0px;
    background: whitesmoke;
}
.icon i:hover{
    color: whitesmoke;
    background:transparent;
    transition: 0.2s;
    border: 0.5px solid rgb(23, 116, 119);
    border-radius: 8px;
}
.box{
    width:58%;
    height: 60%;
    position: absolute;
    top:0;
    right: 0;
    background:rgb(252, 252, 252, 0.7);
    z-index:0;
    }
